doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel="stylesheet" href="/css/style.css")
    link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
    title Natours | #{title}

    
    block head

  body
    include _header
    main.main
      block content
    include _footer

    block scripts
      script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
      script.
        // Make axios available globally
        window.axios = axios;
      script(src='/js/alerts.js')
      script(src='/js/login.js')
      script(src='/js/updateSettings.js')
      script(src='/js/updatePassword.js' type='module')